@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --td-brand-color: #238636;
  --td-warning-color: #e3b341;
  --td-error-color: #f85149;
  --td-success-color: #2ea043;
}

body {
  background-color: #0d1117;
  color: #c9d1d9;
}
